body {
    background-color: $color-white;
}

.header {
    min-height: 100vh;
    background-image: linear-gradient(109deg, 
        #fcfafd 0%, 
        #fcfafd 66%,  
        transparent 38%), 
        url(../img/1.jpg);
    background-size: cover, 40.4%;
    background-position: top right;
    background-repeat: no-repeat;

    &__text-box { 
        padding-right: 41rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        text-align: center;
    }
}

.heading {
    font-family: Julius Sans One; 
    display: flex;
    flex-direction: column;

    &__primary {
        font-size: 9rem;
        font-weight: 300; 
        letter-spacing: 1.8rem; 

        animation-name: moveInLeft;
        animation-duration: 3s;
    }

    &__secondary {
        font-size: 3.6rem;
        font-weight: 500;
        letter-spacing: 4.49rem;
        transform: $--sub-offset;
        white-space: nowrap;

        animation-name: moveInRight;
        animation-duration: 3s;

        & span {
            -webkit-text-stroke: .14rem $color-black;
            -webkit-text-fill-color: transparent;
            color: $color-black;
        }
    }

    &__caption {
        font-family: Open Sans;
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: .2rem;
        padding: 2.5rem 0;
        color: $color-black-light;

        animation-name: fadeIn;
        animation-duration: 3s; 

        & span {
            display: inherit;
            padding-top: 0.6rem;
        }
    }
}

.btn {
    &:link,
    &:visited {
        font-family: Open Sans;
        font-size: 2.7rem;
        letter-spacing: .5rem;
        color: $color-black;
        transition: all .2s;

        text-decoration: none; 
        border-bottom: 1px solid black;
        display: inline-block;

        animation-name: moveInBottom;
        animation-duration: 3s;  
    }

    &:hover {
        color: $color-black-light;
        border-color: $color-black-light;
    }
}

@include respond(tab-port) {
    .header {
        background-image: linear-gradient(to bottom, 
        rgba(transparent, 0) 0%, 
        rgba(transparent, 0) 20%,
        $color-white 51%),
        url(../img/1.jpg);

        background-size: cover;
        background-position: 50% 20%;

        &__text-box {
            transform: translate(-50%, 16%);
            left: 50%;
        }
    }
}