.select-interview-main {
    min-height: 100vh;
    padding-top: 10rem;
}

.select-interview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.header-interviews-h1 {
    font-family: Open Sans;
    font-size: 3rem;
    letter-spacing: .6rem;
    font-weight: 400;
    margin-bottom: 4.5rem;
    text-align: center;
}