.article {
    &-header {
        height: 49.6rem;
        background-size: cover, 40.4%;
        background-repeat: no-repeat;

        &--tower-records {
            background-image: linear-gradient(109deg, 
            #fcfafd 0%, 
            #fcfafd 66%,  
            transparent 38%), 
            url(../img/2.jpg);
            background-position: top right;
        }

        &--simple-style {
            background-image: linear-gradient(109deg, 
            #fcfafd 0%, 
            #fcfafd 66%,  
            transparent 38%), 
            url(../img/3.jpg);
            background-position: 100% 100%;
        }
    
        &__text-box { 
            text-align: center;
            transform: translate(-15%, 60%);
    
            
            & > * {
                display: block;
            }
        }
    }

    &-heading {
        font-family: Julius Sans One; 

        & > * {
            display: block;
        }

        &__primary {
            font-size: 7rem;
            letter-spacing: 1.4rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }

        &__secondary {
            font-size: 1.7rem;
            letter-spacing: 1.14rem;
            font-weight: 400;
            margin-bottom: 2.5rem;
        }

        &__date {
            font-family: Open Sans; 
            font-size: 1.6rem;
            letter-spacing: .366rem;
            font-weight: 400;
        }
    }

    @include respond(tab-port) {

        &-header {
            display: flex;
            justify-content: center;
            align-items: center;
            background-size: cover;
            min-height: 100vh;

            &::before {
                content: "";
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: $color-white;
                opacity: 0.9;
            }
            
            &__text-box {
                transform: initial;
                z-index: 1;
            }
        }

        &-header--simple-style {
            background-image: url(../img/3.jpg);;
        }

        &-header--tower-records {
            background-image: url(../img/2.jpg);
            background-position: 50% 103%;
        }
    }
}