.article {
    &-header {
        height: 72vh;
        background-size: cover, 40.4%;
        background-repeat: no-repeat;

        &--tower-records {
            background-image: linear-gradient(109deg, 
            #fcfafd 0%, 
            #fcfafd 66%,  
            transparent 38%), 
            url(../img/2.jpg);
            background-position: top right;
        }

        &--simple-style {
            background-image: linear-gradient(109deg, 
            #fcfafd 0%, 
            #fcfafd 66%,  
            transparent 38%), 
            url(../img/3.jpg);
            background-position: 100% 100%;
        }
    
        &__text-box { 
            position: absolute;
            top: 50%;  
            left: 35%;
            transform: translate(-50%, -85%);
            text-align: center;
    
            & > * {
                display: block;
            }
        }
    }

    &-heading-primary {
        font-family: Julius Sans One; 

        & > * {
            display: block;
        }

        &--main {
            font-size: 7rem;
            letter-spacing: 1.4rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }

        &--sub {
            font-size: 1.7rem;
            letter-spacing: 1.14rem;
            font-weight: 400;
            margin-bottom: 2.5rem;
        }
    }

    &-heading-date {
        font-family: Open Sans; 
        font-size: 1.6rem;
        letter-spacing: .366rem;
        font-weight: 400;
    }

    @include respond(tab-port) {
        &-header--simple-style {
            background-image: linear-gradient(to bottom, 
            rgba(transparent, 0) 0%, 
            rgba(transparent, 0) 20%,
            $color-white 51%),
            url(../img/3.jpg);
            background-size: cover;
            background-position: 100% 193%;

            &__text-box {
                transform: translate(-50%, 16%);
                left: 50%;
            }
        }

        &-header--tower-records {
            background-image: linear-gradient(to bottom, 
            rgba(transparent, 0) 0%, 
            rgba(transparent, 0) 20%,
            $color-white 51%),
            url(../img/2.jpg);
            background-size: cover;
            background-position: 100% 100%;

            &__text-box {
                transform: translate(-50%, 16%);
                left: 50%;
            }
        }
    }
}