.article {
    &-header {
        height: 72vh;
        background-image: linear-gradient(109deg, 
            #fcfafd 0%, 
            #fcfafd 66%,  
            transparent 38%), 
            url(../img/1.jpg);
        background-size: cover, 40.4%;
        background-position: top right;
        background-repeat: no-repeat;
    
        &__text-box { 
            position: absolute;
            top: 50%;  
            left: 35%;
            transform: translate(-50%, -85%);
            text-align: center;
    
            & > * {
                display: block;
            }
        }
    }

    &-heading-primary {
        font-family: Julius Sans One; 

        & > * {
            display: block;
        }

        &--main {
            font-size: 7rem;
            letter-spacing: 1.4rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }

        &--sub {
            font-size: 1.7rem;
            letter-spacing: 1.14rem;
            font-weight: 400;
            margin-bottom: 2.5rem;
        }
    }

    &-heading-date {
        font-family: Open Sans; 
        font-size: 1.6rem;
        letter-spacing: .366rem;
        font-weight: 400;
    }

    &-interview-section {
        display: flex;
        flex-direction: column;
        align-items: center;

        font-family: Open Sans;
        font-size: 1.6rem;

        // & div {
        //     display: flex;
        //     font-size: 1.6rem;
        //     justify-content: flex-end;
        //     // gap: 4rem;
        //     gap: 2rem;
        //     padding-bottom: 2.5rem;
        //     line-height: 2;
        //     // width: 54rem;
        //     width: 69rem;

        //     & span {
        //         text-align: right;
        //         color: lighten($color-black, 65%);
        //     }

        //     & p {
        //         // width: 40.5rem;
        //         width: 58.5rem;
        //     }
        // }
    }
}

.dialogue-box {
    display: flex;
    font-size: 1.6rem;
    justify-content: flex-end;
    gap: 2rem;
    padding-bottom: 2.5rem;
    line-height: 2;
    width: 69rem;
}

.dialogue-author {
    text-align: right;
    color: lighten($color-black, 65%);
}

.dialogue-text {
    width: 58.5rem;
}